@font-face {
    font-family: 'Perfect DOS VGA 437 Win';
    src: local('Perfect DOS VGA 437 Win'), local('PerfectDOSVGA437Win'),
        url('media/fonts/PerfectDOSVGA437Win.woff2') format('woff2'),
        url('media/fonts/PerfectDOSVGA437Win.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perfect DOS VGA 437';
    src: local('Perfect DOS VGA 437'), local('PerfectDOSVGA437'),
        url('media/fonts/PerfectDOSVGA437.woff2') format('woff2'),
        url('media/fonts/PerfectDOSVGA437.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    background-color: black;
    color: #ddd;
    margin: 0% 7%;
    font-size: 150%;
    font-family: 'Perfect DOS VGA 437 Win', 'Perfect DOS VGA 437', 'Consolas', monospace;
    padding:0px;
}

hr {
    color:aqua;
    border-top: 2px double;
    height:5px
}

h1 {
    padding: 0px;
    margin: 0px;
}

.center {
    text-align: center;
    padding: 2em;
}


.linkwrapper {
    display: flex;
    justify-content: center;
    margin: 0;
    width: inherit;
}

.links {
    list-style-type: none;
    display: inline-grid;
    grid-auto-flow: column;
    gap: 24px;
    justify-items: center;
    margin: auto;
}
.links li img:hover {
    width: 110%;
}
footer {
    position: fixed;
    height: 50px;
    width: 93%;
    bottom: 0.5vh;
    margin: 0;
}

.vinyl {
    position: fixed;
    right: 1vh;
    bottom: 1vh;
}
.commission input {
    width: 20rem;
    border-style:double;
    border-color:aqua;
    color:white;
    background-color:black
}
.commission textarea {
    width: 40rem;
    border-style:double;
    border-color:aqua;
    color:white;
    background-color:black
}

.commission button {
    color: white;
    background-color: black;
    border-color:aqua;
    border-width: 3px;
    border-style:groove;
}

.commission select {
    width: 10rem;
    color:white;
    background-color: black;
    border-color:aqua;
}
.column {
  float: left;
  width: 50%;
  max-width: 100%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
    width: 75%
    margin-left:12.5%
}
.column img {
    box-sizing: border-box;
    max-width: 50%;
    margin: 3rem;
    outline: 2px solid aqua;
}