@font-face {
    font-family: 'Perfect DOS VGA 437 Win';
    src: local('Perfect DOS VGA 437 Win'), local('PerfectDOSVGA437Win'),
        url('media/fonts/PerfectDOSVGA437Win.woff2') format('woff2'),
        url('media/fonts/PerfectDOSVGA437Win.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perfect DOS VGA 437';
    src: local('Perfect DOS VGA 437'), local('PerfectDOSVGA437'),
        url('media/fonts/PerfectDOSVGA437.woff2') format('woff2'),
        url('media/fonts/PerfectDOSVGA437.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    background-color: black;
    color: #ddd;
    padding: 10px;
    font-size: 150%;
    font-family: 'Perfect DOS VGA 437 Win', 'Perfect DOS VGA 437', 'Consolas', monospace;
}

.center {
    text-align: center;
    padding: 2em;
}


.linkwrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    width:100%;
}

.links {
    list-style-type: none;
    display: inline-grid;
    grid-auto-flow: column;
    gap: 24px;
    justify-items: center;
    margin: auto;
}
.links li img:hover {
    width: 110%;
}
footer {
    position: fixed;
    height: 50px;
    width: 100%;
    top: calc( 100vh - 50px );
    margin: auto
}

.vinyl {
    position: fixed;
    right: 1vh;
    bottom: 1vh;
}


